.con1{
	width: 1200px;
	margin:10px auto;
	position: relative;
	overflow: hidden;
}
.con1detail{
	width: 860px;
	float: left;
	padding: 10px 10px;
	
}
.weizhi{
	padding: 0 10px;
}
.con1detailbt{
	border:1px #ebebeb solid;
	border-top: 2px #2788ce solid;
	margin-top: 10px;
	padding: 10px 10px;
}
.list1p1{
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-left:20px;
	background: #2788ce;
	color: white
}
.list1p1 a {
    color: white
}
.list1{
    padding-top:10px;
	position: relative;
	overflow: hidden;
}
.list1 .weizhi{
	float: right;
	height: 40px;
	line-height: 40px;
	color: #2788ce;
}
.list1 .weizhi a{
	color: #2788ce;
}
.con1detailbt{
	border:1px #ebebeb solid;
	border-top: 2px #2788ce solid;
	margin-top: 10px;
	padding: 10px 10px;
    font-size:16px;
}
.con1detailbt>p{
	line-height: 2.0
}

.pageul li{
	width: 55px;
	margin:0 10px;
	float: left;
	height: 35px;
	line-height: 35px;
	border:1px #dddddd solid;
	text-align: center;
	border-radius:5px;
	overflow: hidden;
}
.pageul{
	position: relative;
	overflow: hidden;
	margin-top: 5px
}
.pageul li a{
	display: block;
	width: 100%;
	text-align: center;
}
.pageul li a:hover{
	background: #2788ce;
	color: white
}
.listulnew li{
	padding: 14px 0;
	border-bottom: 1px dotted #cccccc;
	background: url(../images/d.png) 0 center no-repeat;
	padding-left: 10px;

}
.listulnew li a:hover{
	color: #2788ce;
	text-decoration:underline;
}
.madiv{
	position: relative;
	overflow: hidden;
	border-bottom: 1px dotted #999999;
	padding-bottom: 10px;
	margin-bottom:10px;
}
.map1{
	width: 180px;
	float: left;
	text-align: center;
	color: #da0000;
	font-size: 12px
}
.map2{
	width:600px;
	float: left;padding-top:30px;
	line-height: 1.6
}
.map2 p{
    text-align: center;
	color: #999999
}